#about-us {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background-image: url('../assets/images/patterns/purple_pattern.jpg');
}

.about-us__contents {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

.about-us__text {
  width: 25vw;
  padding: 1.5rem 2rem;
}

.about-us__text__h2 {
  margin-bottom: 1rem;
  font-size: 32pt;
  opacity: 0;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(20px);
}

.about-us__text__h2.in-page {
  opacity: 1;
  transform: translateX(0);
}

.about-us__text__p {
  font-size: 12pt;
  font-weight: 300;
  opacity: 0;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(-20px);
}

.about-us__text__p.in-page {
  opacity: 1;
  transform: translateX(0);
}

.about-us__image {
  width: 25vw;
  opacity: 0;
  transition: all 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translateX(-20px);
}

.about-us__image.in-page {
  opacity: 1;
  transform: translateX(0);
}


/* Responsive */
/* Small devices (landscape phones) */
@media (max-width: 576px) {
  .about-us__contents {
    flex-direction: column;
  }

  .about-us__text {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-us__text__h2 { font-size: 16pt; }

  .about-us__text__p { font-size: 12pt; }

  .about-us__image {
    width: 50vw;
    margin-bottom: 1rem;
  }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .about-us__contents {
    flex-direction: column;
  }

  .about-us__text {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-us__text__h2 { font-size: 16pt; }

  .about-us__text__p { font-size: 12pt; }

  .about-us__image {
    width: 50vw;
    margin-bottom: 1rem;
  }
}

/* Large devices (desktops) */
@media (min-width: 769px) and (max-width: 992px) {
  .about-us__contents {
    flex-direction: column;
  }

  .about-us__text {
    width: 100vw;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .about-us__text__h2 { font-size: 16pt; }

  .about-us__text__p { font-size: 12pt; }

  .about-us__image {
    width: 30vw;
    margin-bottom: 1rem;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .about-us__text__h2 { font-size: 16pt; }

  .about-us__text__p { font-size: 12pt; }
}