.container {
  padding: 4rem 4rem 0 4rem;
}

h1, h2, h3 {
  text-align: center;
}

a {
  color: #2997ff;
  text-decoration: none;
}


/* Responsive */
@media (max-width: 768px) {
  html, body { overflow-x: hidden; }
}

/* Small devices (landscape phones) */
@media (max-width: 576px) {
  .container {
    margin-top: 64px;
    padding: .5rem .5rem 0 .5rem;
  }
}

/* Medium devices (tablets) */
@media (min-width: 577px) and (max-width: 768px) {
  .container {
    margin-top: 64px;
    padding: 1rem 1rem 0 1rem;
  }
}

/* Large devices (desktops) */
@media (min-width: 769px) and (max-width: 992px) {
  .container {
    margin-top: 64px;
    padding: 1.5rem 1.5rem 0 1.5rem;
  }
}

/* Extra large devices (large desktops) */
@media (min-width: 993px) and (max-width: 1200px) {
  .container {
    margin-top: 64px;
    padding: 2rem 2rem 0 2rem;
  }
}